<app-authorization-form title="Sign In">
  <ng-template authFormContent>
    <form [formGroup]="form">
      <app-form-field label="Email">
        <input pInputText id="email" formControlName="email" aria-describedby="email-error"/>
        <ng-template formFieldFooter>
          <small *ngIf="form.controls['email'].hasError('email')" id="email-error" class="error-message">Enter a valid email</small>
        </ng-template>
      </app-form-field>
      <app-form-field label="Password">
        <input pInputText id="password" class="form-input" formControlName="password" aria-describedby="password-error"/>
        <ng-template formFieldFooter>
          <small *ngIf="form.controls['password'].hasError('minlength')" id="password-error" class="error-message">Password is too short</small>
        </ng-template>
      </app-form-field>
    </form>
  </ng-template>
  <ng-template authFormFooter>
    <p-button [disabled]="form.invalid" (onClick)="signIn()">Sign in</p-button>
    <a routerLink="/signup">Don't have an account yet? Go to sign up.</a>
  </ng-template>
</app-authorization-form>
