:host {
  display: block;
  height: 100%;
}
.chat-container {
  display: flex;
  height: 100%;

  stream-channel-list {
    width: 30%;
    .create-channel-btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
      z-index: 100;
    }
  }

  stream-channel {
    width: 100%;
  }

  stream-thread {
    width: 45%;
  }

  ::ng-deep {
    .str-chat__channel-list-messenger__main {
      position: relative;
    }
  }
}
