<mat-toolbar color="primary">
  <span>Chat App</span>
  <span class="header-spacer"></span>
  <ng-container *ngIf="auth.isLoggedIn$ | async as user; else authButtons">
    <span [style.margin-right]="'10px'"><strong>{{ user.displayName }}</strong> is logged in</span>
    <button mat-raised-button color="accent" (click)="signOut()">Sign out</button>
  </ng-container>
</mat-toolbar>

<main class="content mat-app-background">
  <router-outlet></router-outlet>
</main>

<ng-template #authButtons>
  <a routerLink="/signin" routerLinkActive="active" mat-button [style.margin-right]="'10px'">Sign in</a>
  <a routerLink="/signup" routerLinkActive="active" mat-button>Sign up</a>
</ng-template>
